/* --- Page: Home --- */
.hero-section {
    background-image: url('https://images.unsplash.com/photo-1555041469-a586c61ea9bc?q=80&w=2070&auto=format&fit=crop');
    background-size: cover;
    background-position: center;
    color: var(--cor-texto-claro);
    text-align: center;
    padding: 6rem 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    max-width: 650px;
    padding: 3rem;
    background: #1c1b1b6b;
    border-radius: var(--borda-radius);
}

.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--cor-destaque);
}

.featured-products {
    overflow: auto;
    text-align: center;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    padding: 0.6rem;
    gap: 0.6rem;
    max-width: 1450px; /* Aumentado para acomodar 5 cartões com espaçamento */
    margin: 0 auto;
    justify-content: center; /* Centraliza a grade quando há espaço extra */
}

/* --- Page: Home - Product Categories --- */
.product-categories {
    padding: 0 0;
}

.product-categories h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.category-grid {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
}

.category-card {
    background-color: #fff;
    border: 1px solid var(--cor-borda);
    border-radius: var(--borda-radius);
    box-shadow: var(--sombra-padrao);
    padding: 1.5rem 0rem;
    margin-top: 0.8rem;
    margin-bottom: 1.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.category-card .category-title-link {
    text-decoration: none;
    color: var(--cor-secundaria);
    display: block;
}

.category-card .category-title-link:hover {
    color: var(--cor-destaque);
}

.category-card h3 {
    font-size: 1.8rem;
    margin: 0;
    /* Reset default h3 margin */
    text-align: center;
}

.category-products-scroll {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    /* Layout de grade responsivo */
    gap: 1rem;
    padding: 1.2rem;
    justify-content: center; /* Centraliza os cartões */
}

/* Media Queries para responsividade */
@media (max-width: 990px) {
    .product-grid,
    .category-products-scroll {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        /* Duas colunas em telas médias */
        gap: 0.5rem;
    }
}

@media (max-width: 660px) {
    .product-grid,
    .category-products-scroll {
        grid-template-columns: repeat(2, 1fr);
        /* Duas colunas de tamanho igual */
        gap: 0.6rem;
    }
}

@media (max-width: 576px) {
    .product-grid,
    .category-products-scroll {
        grid-template-columns: repeat(1, 1fr);
        /* Uma coluna em telas muito pequenas */
        gap: 0.6rem;
    }
}